In [1]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv('train_sample.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Choice               5500 non-null   int64
 1   A_follower_count     5500 non-null   int64
 2   A_following_count    5500 non-null   int64
 3   A_listed_count       5500 non-null   int64
 4   A_mentions_received  5500 non-null   float64
 5   A_retweets_received  5500 non-null   float64
 6   A_mentions_sent      5500 non-null   float64
 7   A_retweets_sent      5500 non-null   float64
 8   A_posts              5500 non-null   float64
 9   A_network_feature_1  5500 non-null   int64
 10  A_network_feature_2  5500 non-null   float64
 11  A_network_feature_3  5500 non-null   float64
 12  B_follower_count     5500 non-null   int64
 13  B_following_count    5500 non-null   int64
 14  B_listed_count       5500 non-null   int64
 15  B_mentions_received  5500 non-null   float64
 16  B_retweets_received  5500 non-null   float64
 17  B_mentions_sent      5500 non-null   float64
 18  B_retweets_sent      5500 non-null   float64
 19  B_posts              5500 non-null   float64
 20  B_network_feature_1  5500 non-null   int64
 21  B_network_feature_2  5500 non-null   float64
 22  B_network_feature_3  5500 non-null   float64
dtypes: float64(14), int64(9)
memory usage: 988.4 KB

In [26]:
df_A = df[['Choice'] + [col for col in df.columns if col.startswith('A_')]].copy()
df_B = df[['Choice'] + [col for col in df.columns if col.startswith('B_')]].copy()

In [27]:
df_A.columns = ['Choice'] + [col.replace('A_', '') for col in df_A.columns if col != 'Choice']
df_B.columns = ['Choice'] + [col.replace('B_', '') for col in df_B.columns if col != 'Choice']

In [28]:
df_A['influencer'] = df_A['Choice'].apply(lambda x: 1 if x == 0 else 0)
df_B['influencer'] = df_B['Choice'].apply(lambda x: 0 if x == 0 else 1)

In [29]:
df_A.drop(columns=['Choice'], inplace=True)
df_B.drop(columns=['Choice'], inplace=True)

In [30]:
final_df = pd.concat([df_A, df_B], ignore_index=True)

In [31]:
final_df.to_csv('train_influencers.csv', index=False)

In [32]:
final_df.head(10)

,follower_count,following_count,listed_count,mentions_received,retweets_received,mentions_sent,retweets_sent,posts,network_feature_1,network_feature_2,network_feature_3,influencer
0,228,302,3,0.583979,0.100503,0.100503,0.100503,0.362150,2,166.500000,11355.000000,1
1,21591,1179,228,90.456506,25.798292,5.709329,1.111159,5.176620,369,18.442971,1330.366048,1
2,7310,1215,101,25.503644,9.556347,5.361519,0.591206,3.589718,95,68.927835,5999.896907,1
3,20,7,2,7.690824,0.277306,1.331508,0.100503,2.830627,6,2.000000,96.166667,1
4,45589,862,2641,148.854279,36.998884,27.881768,3.333492,23.861282,551,127.404293,2833.847943,0
5,285735,276251,3417,19.327582,7.292016,0.100503,0.100503,0.100503,60,44.806452,4144.258065,1
6,285735,276251,3417,19.327582,7.292016,0.100503,0.100503,0.100503,60,44.806452,4144.258065,1
7,9512,12,213,52.167068,23.182288,0.362150,0.100503,6.806045,195,11.678571,564.040816,0
8,2273871,4524,11946,6782.405338,2944.524245,12.955723,2.791861,66.206208,21678,6.859364,1113.202016,0
9,182598,1402,3831,145.844910,74.002958,23.549189,0.100503,15.953243,567,276.496516,8038.066202,1

In [33]:
df = pd.read_csv('test_sample.csv')

In [34]:
df_A = df[[col for col in df.columns if col.startswith('A_')]].copy()
df_B = df[[col for col in df.columns if col.startswith('B_')]].copy()
df_A.columns = [col.replace('A_', '') for col in df_A.columns]
df_B.columns = [col.replace('B_', '') for col in df_B.columns]

In [35]:
final_df = pd.concat([df_A, df_B], ignore_index=True)
final_df.to_csv('test_influencers.csv', index=False)
final_df.head(10)

,follower_count,following_count,listed_count,mentions_received,retweets_received,mentions_sent,retweets_sent,posts,network_feature_1,network_feature_2,network_feature_3
0,614689,400,5729,199.618296,67.812469,9.366192,0.359534,4.094488,669,39.193741,2565.612519
1,739581,10723,1279,102.026750,96.771319,1.537322,1.054358,3.467754,432,11.191686,966.193995
2,3638,3341,85,2.793577,1.402703,2.594089,0.598150,3.802143,11,9.416667,489.083333
3,613,1259,31,1.326041,0.356943,6.249678,2.323064,7.488116,4,5.000000,275.000000
4,1352348,331,15647,19129.848662,14552.733991,2.065418,0.580955,16.281502,52580,3.092448,597.563636
5,1010,1014,62,0.957690,0.100503,1.047018,0.337132,0.337132,4,154.750000,1705.000000
6,5922518,483,7594,65758.403536,32054.055597,1.612410,0.100503,2.631607,187674,6.015694,1199.636812
7,580544,2799,7371,296.978205,135.831429,15.033026,4.807180,8.262063,1201,87.183775,3547.782285
8,364,927,6,0.551680,0.310247,0.834981,0.339522,0.832591,2,1.500000,122.000000
9,541611,2140,10406,2418.369859,981.459889,13.925585,0.100503,32.973024,8550,59.120227,4861.410900

In [36]:
train_df = pd.read_csv('train_influencers.csv')
test_df = pd.read_csv('test_influencers.csv')